<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <nav>
        <ul class="flex">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Your Cart</a></li>
            <li><a href="#">Contact Us</a></li>
            <a href="/user/signup"><button type="submit">SIGNUP</button></a>
            <a href="/user/login"><button type="submit">LOGIN</button></a>
        </ul>
    </nav>
    <h1>Welcome !!</h1>
    <h2>It is the project of Nidhi Jikadra.</h2>
    <h2>For view this site please login or signup first..</h2>
    
    <h2>Already have an account ? please login</h2>
    
</body>
</html>