<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome !!</h1>
    <h2>It is the project of Nidhi Jikadra.</h2>
    <h2>For view this site please login or signup first..</h2>
    <a href="/user/signup"><button type="submit">SIGNUP</button></a>
    <h2>Already have an account ? please login</h2>
    <a href="/user/login"><button type="submit">LOGIN</button></a>
</body>
</html>