<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>
<body>
    <h1>Add your Product</h1>
    <form action="/product/create" method="post">
        <input type="text" placeholder="Title" name="title">
        <input type="number" placeholder="Price" name="price">
        <input type="text" placeholder="Description" name="description">
        <input type="url" placeholder="Image" name="img">
        <input type="number" placeholder="Stock" name="stock">
        <input type="number" placeholder="Rating" name="rating">
        <input type="text" placeholder="Size" name="size">
        <input type="text" placeholder="Colour" name="colour">
        <button type="submit">CREATE</button>
    </form>
</body>
</html>